<div class="menu" id="menu" data-ng-include="'app/partials/_menu.html'"></div>

<div class="inside_page available_flights"> 
	<div class="title"><h1>Pick your flights for <b>{{ myFlights.flights.login_date * 1000 | date:'MMM d, y HH:mm' | uppercase }} - {{ myFlights.flights.logout_date * 1000 | date:'MMM d, y HH:mm' | uppercase }}</b></h1></div>
	
	<!-- Closest flights start -->
	<div class="pageis closest_flights error" ng-show="!myFlights.flights.closest_flights.length">
		<div class="title"><b>No flights available!</b></div>
	</div>
	<div class="pageis closest_flights" ng-show="myFlights.flights.closest_flights.length">
		<div class="title"><b>Closest Flights</b></div>

		<div class="flight pick_list" ng-repeat="closestflights in myFlights.flights.closest_flights | orderBy:'departing_time'">
			<h2><span>{{ closestflights.from_code }} - {{ closestflights.to_code }}</span></h2>
			
			<p><b>{{ closestflights.flight_code }}</b> landing to {{ closestflights.to_code }} {{ closestflights.landing_time * 1000 | date:'MMM d, y HH:mm' }}</p>
			<p class="size1"><b>{{ closestflights.subtype }}</b></p>
			
			<p><b>Departing {{ closestflights.departing_time * 1000 | date:'MMM d, y HH:mm' }}</b></p>
			<p><b>{{ closestflights.passenger_booked }}</b> Passengers Booked</p>

			<a href="javascript:;" title="Add to my flights" class="addtomy_flights_button" ng-click="addToMyFlights(closestflights, myFlights.flights.closest_flights);">Add to my flights</a>

			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
	<!-- Closest flights end -->
	

	<!-- All available flights start -->
	<div class="pageis all_available_flights error" ng-show="!myFlights.flights.all_flights.length">
		<div class="title"><b>No flights available!</b></div>
	</div>
	<div class="pageis all_available_flights" ng-show="myFlights.flights.all_flights.length">
		<div class="title"><b>Available Flights</b> Later Today</div>

		<div class="flight pick_all_list" ng-repeat="allflights in myFlights.flights.all_flights | orderBy:'departing_time'">
			<h2><span>{{ allflights.from_code }} - {{ allflights.to_code }}</span></h2>
			<span class="departure_time">{{ allflights.departing_time * 1000 | date:'MMM d, y HH:mm' }}</span>
			
			<!-- <p><b>{{ allflights.flight_code }}</b> landing to {{ allflights.to_code }} {{ allflights.landing_time * 1000 | date:'MMM d, y HH:mm' }}</p>
			<p class="size1"><b>{{ allflights.subtype }}</b></p>
			
			<p><b>Departing {{ allflights.departing_time * 1000 | date:'MMM d, y HH:mm' }}</b></p>
			<p><b>{{ allflights.passenger_booked }}</b> Passengers Booked</p> -->

			<a href="javascript:;" title="Add to my flights" class="addtomy_flights_button" ng-click="addToMyFlights(allflights, myFlights.flights.all_flights);">Add to my flights</a>

			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
	<!-- All available flights end -->

	<div class="clear"></div>
</div>


<div class="flightsRoadmap" id="flightsRoadmap" data-ng-include="'app/partials/_flightsRoadmap.html'"></div>
<!-- <div class="flightsRoadmap" id="flightsRoadmap" data-ng-include="'app/directives/timespan.tmpl.html'"></div> -->
