<a class="logo" href="javascript:;" title="">WB</a>
<ul class="main_menu">
	<li data-ng-class="getClass('/my-flights')"><a href="#/my-flights" title="My Flights">My Flights</a></li>
	<li data-ng-class="getClass('/available-flights')"><a href="#/available-flights" title="Available Flights">Available Flights</a></li>
	<li data-ng-class="getClass('/inbox')"><a href="#/inbox" title="Messages">Messages <div class="module directive messages"><nrmess></nrmess></div></a></li>
	<li data-ng-class="getClass('/notifications')"><a href="#/notifications" title="Notifications">Notifications <div class="module directive notifications"><nrnotif></nrnotif></div></a></li>
	<li class="cdl">
		<a href="javascript:;" title="CDL">CDL <div class="module directive cdl"><nrcdl>3</nrcdl></div></a>
		<ul class="submenu">
			<li>
				<a class="infos" href="javascript:;" title="">
					<span class="name">Missing</span>
					<span class="desc">net compartment 13djn dfjdufnd fdfdf df dfudhfudh</span>
				</a>
			</li>
			<li>
				<a class="infos" href="javascript:;" title="">
					<span class="name">Inop</span>
					<span class="desc">FWD Cargo heat</span>
				</a>
			</li>
			<li>
				<a class="infos" href="javascript:;" title="">
					<span class="name">Missing</span>
					<span class="desc">net compartment 13</span>
				</a>
			</li>
		</ul>
	</li>
</ul>

<ul class="user_area">
	<li>
		<a href="javascript:;" title="">Welcome <b>Gaddafi</b> <div class="module"><q></q></div></a>
		<ul class="submenu">
			<li data-ng-class="getClass('/my-account')"><a class="infos" href="#/my-account" title="">Edit profile</a></li>
			<li data-ng-class="getClass('/login')"><a class="infos" href="#/login" title="">Logout</a></li>
		</ul>

	</li>
</ul>
